.top{
  color:#FFCC03;
  display: flex;
  align-items: center;
  font-size: 60px;
  font-family: 'Grandstander', cursive;
  }

.title-home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 16px;
}
